@import '../../styles/vars';

.icon-link {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	i {
		display: inline-block;
		font-size: 25px;
		position: relative;
		bottom: -2px;
	}
	&.-disabled {
		opacity: 0.3;
		pointer-events: none;
	}
}
