$size-font-small: 12px;
$size-font-base: 14px;
$size-font-large: 20px;
$size-letter-spacing-default: 0.8px;

$size-padding-base: 8px;
$size-padding-double: 16px;
$size-margin-base: 16px;

$color-white: #FFF;
$color-mirage: #1E1F3D;
$color-colonial-white: #FFEABE;
$color-scampi: #5F619C;
$color-spindle: #B9D2ED;
$color-aquamarine-blue: #6FD7E4;
$color-teal-blue: #054850;

$color-text-default: $color-mirage;
$color-link-default: $color-scampi;
$color-text-title: $color-scampi;
